{% extends 'accounts/shared/profile_base.html' %}
{% load static %}
{% block accounts_title %}User Profile{% endblock accounts_title %}

{% block accounts_content %}
<div class="container-fluid">
    <div class="card shadow-lg p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="text-center">Your Profile</h1>
            <div class="ms-auto">
                <a href="" class="btn btn-custom">Edit</a>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-12 d-flex flex-column align-items-center mb-3">
                {% if user_profile.profile_photo %}
                    <img src="{{ user_profile.profile_photo.url }}" class="img-fluid rounded-circle profile-picture shadow-sm" style="max-height: 200px;" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'images/user2.jpg' %}" class="img-fluid rounded-circle profile-picture shadow-sm" style="max-height: 200px;" alt="Profile Picture">
                {% endif %}
                <h4 class="mt-2">{{ user_profile.first_name }} {{ user_profile.last_name }}</h4>
                <p class="text-muted">{{ user_profile.username }}</p>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-3 d-flex">
                                <div class="card w-100">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">Email</h5>
                                        <p class="card-text flex-grow-1">{{user_profile.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3 d-flex">
                                <div class="card w-100">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">Location</h5>
                                        <p class="card-text flex-grow-1">{{user_profile.location}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3 d-flex">
                                <div class="card w-100">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">Phone</h5>
                                        <p class="card-text flex-grow-1">{{user_profile.phone}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-3 d-flex">
                                <div class="card w-100">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">DOB</h5>
                                        <p class="card-text flex-grow-1">{{user_profile.dob}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock accounts_content %}



{% block scripts %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock scripts %}